body
{
    height: 100%;
    margin: 0;
    text-align: center;
}

q {
    font-style:italic;
    font-family:cursive;
    font-size: 40px;
    color: #FCF4A3;
}

#join_lets_chat {
    color: lightgrey;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80px;
    margin-top: 80px;
}

#login_button {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

#bgimg {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 200px;
    margin-bottom: 2px;
}

.nav-link {
    font-size: 30px;
    margin-right: 10px;
}

.glyphicon {
    background-color: white;
    color: orange;
    border: none;
    font-size: 15px;
    margin-left: 750px;
    border-radius: 10px;
}